@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/GothamMedium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/GothamBook.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
